---
import Layout from "../layouts/Layout.astro";
const id = Astro.url.searchParams.get("id");
console.log("ID from URL:", id);
let post;
if (id) {
  // Fetch existing post data to pre-fill the form
  const response = await fetch(`http://localhost:3211/post/${id}`);
  if (response.ok) {
    const result = await response.json();
    post = result.post;
  } else {
    console.error("Failed to fetch post data");
  }
}
---

<Layout title="Update A Post">
  <h1 class="title-text">Update Post</h1>
  <div class="container">
    <form id="update-form">
      <input type="hidden" name="id" value={id} />
      <input
        type="text"
        name="title"
        placeholder="Enter title..."
        value={post?.title || ""}
      />
      <input
        type="text"
        name="description"
        placeholder="Enter description..."
        value={post?.description || ""}
      />
      <button type="submit">Update Post</button>
    </form>
  </div>
</Layout>

<script type="module">
  document.getElementById("update-form").onsubmit = async (event) => {
    event.preventDefault();

    const formData = new FormData(event.target);
    const id = formData.get("id");
    const title = formData.get("title");
    const description = formData.get("description");

    console.log("Form data:", { id, title, description });

    if (!id || !title || !description) {
      console.error("Missing required fields");
      return; // Prevent submission if any field is missing
    }

    try {
      const response = await fetch(`http://localhost:3211/update/${id}`, {
        method: "PUT",
        body: JSON.stringify({ title, description }),
        headers: {
          "Content-Type": "application/json",
        },
      });

      if (!response.ok) {
        const errorText = await response.text(); // Read response text to get more details
        throw new Error(
          `Error updating post: ${response.statusText} - ${errorText}`
        );
      }

      const result = await response.json();
      console.log("Updated post:", result.updatePost);

      window.location.href = "/"; // Redirect to home or post list page
    } catch (error) {
      console.error("Update failed:", error);
    }
  };
</script>

<style>
  .title-text {
    color: aliceblue;
    text-align: center;
  }

  form {
    display: flex;
    gap: 8px;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  input {
    padding: 2px 4px;

    width: 100%;
  }

  button {
    padding: 2px 4px;
    border: none;
    background-color: aliceblue;
    width: 100%;
    cursor: pointer;
  }
</style>
